.card-div {
    border: 1px solid #d6d8d9;
    transition: 0.3s;
    border-radius: 16px;
    box-shadow: 1px 1px 6px #7e7f85;
    min-height: 200px;
}

.card-div:hover {
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: 4px 4px 8px #7e7f85;
}

.content {
    display: flex;
    gap: 8px;
    padding: 16px;
    flex-direction: column;
}
